@model baseConhecimento.Models.problema

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.nome</h2>

<div>
    <hr />
    <div class="dl-horizontal">
        <div class="imagemDetalhes">
            <img src="~/Imagens/@(Model.imagem).jpg" alt="Sem Imagem">
        </div>

        <div class="descricao">
            <p>
                @Html.DisplayFor(model => model.descricao)
            </p>
        </div>
    </div>
</div>
<p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_problema }) |
    @*Html.ActionLink("Deletar", "Delete", new { id = Model.id_ic }) |*@
    @Html.ActionLink("Voltar", "Index")
</p>
